<div>
  <%= flash[:notice] %>
</div>


<!-- ユーザーの詳細 -->
<div>
  <h1>User info</h1>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h3>Name <%= @user.name %></h3>
  <h3>Introduction <%= @user.introduction%></h3>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<!-- ユーザーの投稿一覧 -->

<h1>Books</h1>
<p>Title</p>
<p>Opinion</p>
<% @books.each do |books| %>
<div>
  <p>投稿ユーザー画像：<%= image_tag books.user.get_profile_image(100,100) %></p>
  <p>Title：
    <%= link_to book_path(books.id) do %>
      <%= books.title %>
    <% end %>
  </p>
  <p>Opinion：<%= books.body %></p>
  <p>ユーザーネーム：<%= books.user.name %></p>
</div>
<% end %>