<h1>Books#index　投稿一覧画面</h1>

<% @books.each do |book| %>
  <div>
    <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>


    <p>本のタイトル：
      <%= link_to book_path(book.id) do %>
        <%= book.title %>
      <% end %>
    </p>


    <p>感想：<%= book.body %></p>
    <p>ユーザーネーム：<%= book.user.name %></p>
  </div>
<% end %>

